In [6]:
import sys
import os

path= "C:\\Users\\Aman\\Desktop\\kifyaw8-9\\src"
sys.path.append(os.path.abspath(path=path))

try:
    from data_preprocessing import DataPreprocessing
except:
    print("Import failure")

In [7]:
import pandas as pd 
import numpy as np

In [8]:
df = pd.read_csv("C:\\Users\\Aman\\Desktop\\kifyaw8-9\\data\\merged\\meged_data.csv")
df.head()

,user_id,signup_time,purchase_time,purchase_value,device_id,source,browser,sex,age,ip_address,class,country
0,22058,2015-02-24 22:55:49,2015-04-18 02:47:11,34,QVPSPJUOCKZAR,SEO,Chrome,M,39,732758368,0,Japan
1,333320,2015-06-07 20:39:50,2015-06-08 01:38:54,16,EOGFQPIZPYXFZ,Ads,Chrome,F,53,350311387,0,United States
2,1359,2015-01-01 18:52:44,2015-01-01 18:52:45,15,YSSKYOSJHPPLJ,SEO,Opera,M,53,2621473820,1,United States
3,150084,2015-04-28 21:13:25,2015-05-04 13:54:50,44,ATGTXKYKUDUQN,SEO,Safari,M,41,3840542443,0,NaN
4,221365,2015-07-21 07:09:52,2015-09-09 18:40:53,39,NAUITBZFJKHWW,Ads,Safari,M,45,415583117,0,United States

In [16]:
df['user_id'].value_counts()

user_id
138208    1
22058     1
333320    1
1359      1
150084    1
         ..
79203     1
73884     1
199700    1
182338    1
159045    1
Name: count, Length: 151112, dtype: int64

In [17]:
preprocessing = DataPreprocessing()

In [18]:
# changing to date time object
df = preprocessing.to_date(['signup_time','purchase_time'], df)

In [19]:
#  Sort and compute time differences
df = df.sort_values(by=['device_id', 'purchase_time'])
df['time_diff'] = df.groupby('device_id')['purchase_time'].diff().dt.total_seconds()

# Compute average transaction velocity
avg_velocity = df.groupby('device_id')['time_diff'].mean().reset_index(name='avg_transaction_velocity')

In [21]:
df['time_diff'].unique()

array([          nan, 1.0000000e+00, 2.3552430e+06, ..., 1.0333704e+07,
       1.1692157e+07, 6.9120360e+06], shape=(6317,))

In [12]:
df['device_id'].value_counts()

device_id
ITUMJCKWEYNDD    20
KIPFSCNUGOLDP    20
NGQCKIADMZORL    20
ZUSVMDEZRBDTX    20
CQTUVBYIWWWBC    20
                 ..
RTJFFLYZLQDUK     1
OAPUOFGZHKBLD     1
QOOCCLKFDGFHY     1
JRCXMAQYKGQDV     1
QRLRXZJWZHXUH     1
Name: count, Length: 137956, dtype: int64

In [9]:
# df['time_diff'] = df['time_diff'].fillna(0)

In [22]:
df['hour_of_day'] = df['purchase_time'].dt.hour
df['day_of_week'] = df['purchase_time'].dt.dayofweek  # Monday=0, Sunday=6

In [23]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
df[['purchase_value', 'age', 'time_diff']] = scaler.fit_transform(df[['purchase_value', 'age', 'time_diff']])

In [24]:
# Frequency Encoding
device_id_freq = df['device_id'].value_counts(normalize=True)
df['device_id_encoded'] = df['device_id'].map(device_id_freq)

In [30]:
device_id_freq.value_counts()

proportion
0.000007    131781
0.000013      5327
0.000073       101
0.000066        92
0.000079        90
0.000020        90
0.000060        78
0.000053        69
0.000086        64
0.000093        57
0.000046        50
0.000099        41
0.000106        36
0.000040        29
0.000033        13
0.000112        13
0.000119        10
0.000132         6
0.000126         5
0.000026         4
Name: count, dtype: int64

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 151112 entries, 34321 to 54293
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   user_id            151112 non-null  int64
 1   signup_time        151112 non-null  datetime64[ns]
 2   purchase_time      151112 non-null  datetime64[ns]
 3   purchase_value     151112 non-null  float64
 4   device_id          151112 non-null  object
 5   source             151112 non-null  object
 6   browser            151112 non-null  object
 7   sex                151112 non-null  object
 8   age                151112 non-null  float64
 9   ip_address         151112 non-null  int64
 10  class              151112 non-null  int64
 11  country            129146 non-null  object
 12  time_diff          13156 non-null   float64
 13  hour_of_day        151112 non-null  int32
 14  day_of_week        151112 non-null  int32
 15  device_id_encoded  151112 non-null  float64
dtypes: datetime64[ns](2), float64(4), int32(2), int64(3), object(5)
memory usage: 18.4+ MB

In [14]:
# import pandas as pd

# # Sample DataFrame
# data = {
#     'user_id': [1, 1, 1, 2, 2],
#     'purchase_time': ['2024-02-10 10:00:00', '2024-02-10 10:05:00', 
#                       '2024-02-10 10:15:00', '2024-02-10 11:00:00', '2024-02-10 11:30:00']
# }

# df = pd.DataFrame(data)

# # Convert to datetime
# df['purchase_time'] = pd.to_datetime(df['purchase_time'])

# # Sort and compute time differences
# df = df.sort_values(by=['user_id', 'purchase_time'])
# df['time_diff'] = df.groupby('user_id')['purchase_time'].diff().dt.total_seconds()

# # Compute average transaction velocity
# avg_velocity = df.groupby('user_id')['time_diff'].mean().reset_index(name='avg_transaction_velocity')

# print(avg_velocity)

In [29]:
encoded = pd.read_csv("C:\\Users\\Aman\\Desktop\\kifyaw8-9\\data\\processed\\encoded_froud_data.csv")
encoded.time_diff.unique()

array([0.])